@tailwind base;
@tailwind components;
@tailwind utilities;

/* set default font */
body {
  font-family: Roboto;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #091133;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}